@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header-container">
            <div class="logo-container">
                <img class="logo-image" palceholder="ali-logo" src="images/ali-logo.png"  />
            </div>
            <div class="nav-container">
                <div class="nav-options">
                    <a class="nav-item">All</a>
                    <a class="nav-item">About</a>
                    <a class="nav-item">Projects</a>
                    <a class="nav-item">Media</a>
                </div>
            </div>
            <div class="contact-container">
                <span class="contact-text">Contact</span>
            </div>
        </header>

        <article class="content-container">
            @Body
        </article>
    </main>
</div>

@code {

}