@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header-container">
            header
        </header>

        <article class="content-container">
            @Body
        </article>
    </main>
</div>

@code {

}