/* Page CSS */
.page {
    background: rgb(247, 242, 242);
    height: 100%;
}

/* Header CSS */
.header-container {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 136px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
}

/* Logo CSS */
.logo-container {

}

.logo-image {
    height: 24px;
    width: 30px;
}

/* Nav CSS */
.nav-container {
    position: relative;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 23px;
    transform: translateX(0px);
    display: flex;
    padding: 8px;
}

.nav-options {
    display: inline-flex;
    padding: 0;
}

.nav-item {
    border-radius: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    transition: opacity 0.3s ease 0s;
    opacity: 1;
}

    .nav-item:hover {
        cursor: pointer;
        opacity: 0.5;
    }

/* Contact CSS */
.contact-container {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: rgb(13, 17, 23);
}

.contact-text {
    transition: opacity 0.3s ease 0s;
}

    .contact-text:hover {
        opacity: 0.5;
        cursor: pointer;
    }

/* Page CSS */
.content-container {
    width: 100%;
    height: 100%;
}