@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header-container">
            <div class="logo-container">
                <img class="logo-image" palceholder="ali-logo" src="images/ali-logo.png"  />
            </div>
            <div class="nav-container">
                <ul class="nav-options">
                    <li class="nav-item">
                        <NavLink Class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="nav-text">All</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Class="nav-link" href="/about">
                            <span class="nav-text">About</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Class="nav-link" href="/projects">
                            <span class="nav-text">Projects</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink Class="nav-link" href="/media">
                            <span class="nav-text">Media</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
            <div class="contact-container">
                <span class="contact-text">Contact</span>
            </div>
        </header>

        <article class="content-container">
            @Body
        </article>
    </main>
</div>

@code {

}