<div class="widget-container">
    <div class="intro-container">
        <div class="intro-image-container">
            <img class="intro-image" src="images/personalAvatar.png" />
        </div>
        <p class="intro-text">
            I'm <span class="special-text">ali</span> , a developer and contractor. I'm interested in Blazor, CSharp, reading and solving problems.
        </p>
        <button class="toggle-btn">
            <span class="toggle-icon material-icons-outlined">
            sync
            </span>
            Toggle Lockdown
        </button>
    </div>
</div>

@code {

}
