<div class="widget-container">
    <div class="intro-container">
        <div class="intro-image-container">
            <img class="intro-image" src="images/personalAvatar.png" />
        </div>
        <p class="intro-text">
            I'm Alistair, a developer and contractor. I'm interested in Blazor, CSharp, reading and solving problems.
        </p>
        <button class="toggle-btn">
            <i class="toggle-icon"></i>
            Toggle Lockdown
        </button>
    </div>
</div>

@code {

}
